body {
    width:100%;
    overflow-x:hidden;
    position:Relative;
    width:100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Mocky Pop One', sans-serif;
}
a {
    text-decoration:none;
    color:#2B2F23;
}
span {
    font-weight:bold;
}
span:hover {
    cursor:pointer;
}
p, a, li, ul {
    font-family:'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

nav {
    position:fixed;
    top:200px;
}
.nav-line {
    width:2px;
    height:20px;
    border-radius:5px;
    background:#8DE0F4;
}
ul li {
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:center;
}



.pink-cta {
    background:#e7b4cf;
    color:white;
    padding: 10px 50px;
    border:0;
    border-radius:20px;
    font-size:10px;
    font-weight:bold;
    letter-spacing:2px;
    text-transform:uppercase;
    font-family:'Raleway', sans-serif;
    box-shadow: 0px 3px 10px #00000026;
}
/*Start of Colors*/
.light_blue_c {
    color:#91E7FC;
}
.light_blue_bg {
    background:#91E7FC;
}
.blue_c {
    color:#8DE0F4;
}
.blue_bg {
    background:#8DE0F4;
}
.pink {
    color:#e7b4cf;
}
.pink_bg {
    background:#e7b4cf;
}

/*START OF HERO*/
.illustration-image {
    width:400px;
    z-index:1;
}
.dark-blue-bg {
    position:absolute;
    top:-510px;
    right:-320px;
}
.light-blue-bg {
    position:absolute;
    z-index:-1;
    top:-100px;
    right:-476px;
}

.purple {
    color:#805D93;
}
.purple_bg {
    background:#805D93;   
}
.grey {
    color:#2B2F23;
}
.grey_bg {
    background:#2B2F23;
}
.green {
    color:#9EBD6E;
}
.green_bg {
    background:#9EBD6E;
}
.darkgreen {
    color:#169873;
}
.darkgreen_bg {
    background:#169873;
}
.mobile-only {
    display:none;
}
@media only screen and (max-width:960px) {
    .mobile-only {
        display:block;
    }
    .desktop-only {
        display:none;
    }
}